html {
    scroll-behavior: auto;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Muli', sans-serif;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.dropbelow {
    animation-name: down;
    animation-duration: 2s;
    position: relative;
}
.item {
    display: inline-block;
    align-items: flex-end;
    position: relative;
    transition: 1s ease-out;
}
.item:hover {
    /* transform: translateY(10px); */
}
.item:hover:before {
    opacity: 1;
}
.item:hover .content {
    opacity: 1;
    transform: translateY(0);
}
.item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111144, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.item img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.item img:hover {
    position: absolute;
    object-fit: cover;
}
.item .social-icon {
    width: 100px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid white;
}
.item .content {
    padding: 100px 70px;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s;
    text-align: center;
}
.item .content p {
    margin: -10px 0px;
}

.goup {
    animation-name: up;
    animation-duration: 2s;
    position: relative;
}

.goup2 {
    animation-name: up;
    animation-duration: 1.5s;
    position: relative;
}

@keyframes down {
    0% { top: -250px; }
    100% { top: 0px; }
}

@keyframes up {
    0% { top: 1000px; }
    100% { top: 0px; }
}
.overall {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.biden {
    width: 100%;
}
.buttigieg {
    width: 100%;
}
.other {
    width: 100%;
}

ul {
    margin: 250px auto 0;
    padding: 0;
    width: 100%;
    display: flex;
}

ul li {
    list-style: none;
}
ul li .imageBox {
    width: 100%;
    box-sizing: content-box;
    padding: 10px;
}
ul li .imageBox figure {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li .imageBox figure img {
    width: 100%;
    height: 100%;
}
ul li .imageBox figure figcaption {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: 1s;
    transform: translateY(20px);
}
ul li .imageBox:hover figure figcaption {
    opacity: 1;
    transform: translateY(0);
}
ul li .imageBox figure figcaption h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}
ul li .imageBox figure figcaption p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul li .imageBox figure figcaption a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}